/* Color Scheme: Dark Mode | Dark To Lighter Shades | For References */
/* Colors Used:
#070F2B - Background
#1B1A55 - NavBar Background
#535C91 - Primary Text Color
#9290C3 - Secondary Text Color */

body {
  background-color: #070f2b;
  color: #9290c3;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ? NAV-BAR - W3 School: https://www.w3schools.com/howto/howto_js_topnav.asp */

/* NavBar Background */
.topnav {
  background-color: #1b1a55;
  overflow: hidden;
}

/* Style the anchor links [Texts] inside the navigation bar */
.topnav {
  text-align: center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 18px;
  margin: 8px 6px;
  /* Remove underline from links */
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  border-radius: 8px; /* rounded corners */
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9290C3;
  color: #070F2B;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #535C91;
  color: white;
}
